button,
.standard {
	height: 50px;
	width: 59px;
	background-color: #373737;
	color: #ffffff;
	border-radius: 5px;
	border: 1px solid black;
	padding: 2px 5px;
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	cursor: pointer;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

button:active {
	position: relative;
	top: 1px;
}

.resultButton {
	height: 106px;
	width: 58px;
	background-color: #0d761d;
	box-shadow: 0px 0px 1px 1px #074510;
	border: none;
	border-radius: 5px;
}

.clearButton {
	background-color: #991121;
	box-shadow: 0px 0px 1px 1px #3c0007;
	border: none;
}
